.menubar {
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 80px;
  
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 10px;
  }
  
  .header {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
  }
  
  .headerlogo {
    margin-top: 6px;
    left: 72px;
    width: 142px;
    height: 30px;
    opacity: 1;
    position: absolute;
  
    margin-left: -10px;
  }
  
  .searchicon {
    top: 20px;
    left: 291px;
    width: 20px;
    height: 16px;
  
    opacity: 1;
    margin-top: -8px;
    margin-left: -4px;
    position: absolute;
  }
  
  .search {
    width: 50%;
  
    opacity: 1;
    position: absolute;
    padding-left: 313px;
    margin-top: -10px;
  }
  
  .notification {
    top: 35px;
    left: 1200px;
    width: 7px;
    height: 7px;
    position: absolute;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -20px;
  }
  
  .profile {
    width: 44px;
    height: 44px;
  
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    right: 130px;
    top: 6px;
  }
  
  .image1 {
    top: 90px;
    position: absolute;
    left: 40px;
    width: 20px;
  }
  
  .name {
    right: 0px;
    position: absolute;
    margin-right: 40px;
    top: 15px;
  
    margin-left: 10px;
    font-weight: bold;
  }
  .arrow {
    right: 0px;
    position: absolute;
    top: 12px;
    right: 30px;
  }
  
  .dashboard {
    background: #fff3f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    top: 90px;
    left: 30px;
    width: 183px;
    height: 35px;
    color: red;
    display: flex;
    position: absolute;
  }
  .image1{
    position: absolute;
    top: 10px;
    left: 12px;
  }
  
  .desc1 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 0px;
    margin-top: -10px;
    position: absolute;
    left: 38px;
    font-size: 21px;
    font-weight: bold;
  }
  .analysis {
    display: flex;
    position: absolute;
  }
  .image2 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 125px;
    left: 33px;
    width: 20px;
    margin-top: 10px;
  }
  .desc2 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 115px;
    position: absolute;
    left: 55px;
    font-size: 21px;
    font-weight: bold;
  }
  
  .image3 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 180px;
    left: 40px;
    width: 20px;
    margin-top: 10px;
  }
  .desc3 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 168px;
    position: absolute;
    left: 65px;
    font-size: 21px;
    font-weight: bold;
  }
  
  .image4 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 228px;
    left: 40px;
    width: 20px;
    margin-top: 10px;
  }
  .desc4 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 217px;
    position: absolute;
    left: 65px;
    font-size: 21px;
    font-weight: bold;
  }
  .image5 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 273px;
    left: 40px;
    width: 20px;
    margin-top: 10px;
  }
  .desc5 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 262px;
    position: absolute;
    left: 65px;
    font-size: 21px;
    font-weight: bold;
  }
  .image6 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 320px;
    left: 40px;
    width: 20px;
    margin-top: 10px;
  }
  .desc6 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 307px;
    position: absolute;
    left: 65px;
    font-size: 21px;
    font-weight: bold;
  }
  .image7 {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 365px;
    left: 40px;
    width: 20px;
    margin-top: 10px;
  }
  .desc7 {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    top: 353px;
    position: absolute;
    left: 65px;
    font-size: 21px;
    font-weight: bold;
  }
  
  .innerdash{
  top: 121px;
  left: 290px;
  width: 146px;
  height: 50px;
  position: absolute;
  text-align: left;
  font: normal normal medium 30px/39px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 35px;
  font-weight: bold;
  }
  
  .boxrow{
  
  }
  .box1{
      top: 182px;
  left: 292px;
  width: 219px;
  height: 116px;
  position: absolute;
  background:  0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  }
  .no1{
     
      left: 383px;
      width: 77px;
      height: 33px;
      font-size: 30px;
      text-align: left;
      font: normal normal medium 25px/33px Roboto;
      letter-spacing: 0px;
      color: #3E3E3E;
      opacity: 1;
      top: -40px;
      position: absolute;
      left: 50px;
  
  }
  .p1{
      top: 245px;
  left: 383px;
  width: 94px;
  
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-size: 16px;
  margin-top: 32px;
      margin-left: 3px;
      
  
  }
  .box2{
      top: 182px;
  left: 530px;
  width: 219px;
  height: 116px;
  position: absolute;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  }
  .no2{
      top: 213px;
  left: 625px;
  width: 57px;
  height: 33px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-size: 30px;
  }
  .p2{
      top: 244px;
  left: 625px;
  width: 107px;
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-size: 16px;
  margin-top: -7px;
  }
  .n2p2{
      margin-top: -40px;
      margin-left:17px;
  }
  
  .box3{
  top: 182px;
  left: 770px;
  width: 219px;
  height: 116px;
  position: absolute;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
      
  
  }
  .i3{
      top: 227px;
  left: 820px;
  
  height: 40px;
  /* UI Properties */
  background:  0% 0% no-repeat padding-box;
  opacity: 1;
  width:53px;
  }
  .p3{
      margin-top: -23px;
      margin-left: 20px;
  }
  .no3{
      margin-left: 25px;
      font-size: 30px;
  }
  .n3p3{
      margin-top: -40px;
      margin-left:-10px;
  }
  
  .box4{
      top: 182px;
      left: 1000px;
      width: 219px;
      height: 116px;
      position: absolute;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 1;
          
      
      }
      .i4{
          top: 227px;
      left: 820px;
      
      height: 40px;
      
      background:  0% 0% no-repeat padding-box;
      opacity: 1;
      width:53px;
      }
      .p4{
          margin-top: -23px;
          margin-left: 20px;
      }
      .no4{
          margin-left: 25px;
          font-size: 30px;
      }
      .n4p4{
          margin-top: -40px;
          margin-left:-15px;
      }
  
      .box5{
          top: 182px;
          left: 1200px;
          width: 219px;
          height: 116px;
          position: absolute;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border-radius: 5px;
          opacity: 1;
              
          
          }
          .i5{
              top: 227px;
          left: 820px;
          
          height: 40px;
          
          background:  0% 0% no-repeat padding-box;
          opacity: 1;
          width:53px;
          }
          .p5{
              margin-top: -23px;
              margin-left: 20px;
          }
          .no5{
              margin-left: 25px;
              font-size: 30px;
          }
          .n5p5{
              margin-top: -40px;
              margin-left:-15px;
          }
   
  .dash{
      top: 328px;
  left: 292px;
  width: 802px;
  height: 400px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  }
  
  .content2{
     
      top: 328px;
  left: 292px;
  width: 802px;
  height: 400px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin-left: 50px;
  }
  .sales{
      top: 352px;
  left: 321px;
  width: 43px;
  height: 29px;
  
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-size: large;
  font-weight: bold;
  left: 270px;
  position: absolute;
      top: 268px;
  }
  
  .wm{
      margin-left: 400px;
      margin-top: 7px;
      top: 352px;
  left: 903px;
  width: 108px;
  height: 16px;
  
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #ADADAD;
  opacity: 1;
  top: 277px;
      left: 400px;
      position: absolute;
  }
  
  .yearly{
      margin-top: 7px;
      top: 352px;
  left: 1090px;
  width: 33px;
  height: 16px;
  
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #C8242F;
  opacity: 1;
  right: 350px;
      position: absolute;
      top: 278px;
  left: 950px;
      
  }
  .content22{
      left: 268px;
      position: absolute;
      top: 310px;
      height: 200px;
      width:600px;
  
  }
  .dash3{
      top: 270px;
  left: 1080px;
  width: 165px;
  height: 29px;
  position:absolute;
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-weight: 800;
  font-size: 20px;
  }
  .dash32{
      top:100px;
      top: 35px;
      position: absolute;
      left: -10px;
      height:230px;
  }
  
  .dash331{
      top: 262px;
  width: 15px;
  height: 15px;
  left: -40px;
  background: #C8242F 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border-radius: 50%;
  }
  
  .dash332{
      top: 635px;
  
  width: 166px;
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  position: absolute;
      top: 259px;
      font-size: 15px;
      right: 20px;
  
  }
  .dash431{
    top: 260px;
  right:-30px;
  width: 15px;
  height: 15px;
  /* UI Properties */
  background: #A2B86C 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border-radius: 50%;
  }
  .dash432{
    top: 635px;
  
  width: 166px;
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  position: absolute;
      top: 258px;
      font-size: 15px;
      left:200px;
  
  }
  .dash531{
    top: 290px;
  width: 15px;
  height: 15px;
  left: -40px;
  background:#F16C20 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  border-radius: 50%;
  }
  .dash532{
  top: 635px;
  width: 166px;
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #00e30b 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
      top: 288px;
      font-size: 15px;
      right: 20px;
  
  
  }
  .dash631{
  
      top: 288px;
    right:-30px;
    width: 15px;
    height: 15px;
    /* UI Properties */
    background: #EBC844 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    border-radius: 50%;
    
  }
  .dash632{
    top: 6px;
  
  width: 166px;
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  position: absolute;
      top: 285px;
      font-size: 15px;
      left:200px;
  
  }
  .dash41{
    top: 630px;
  left: 265px;
  width: 82px;
  height: 29px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  position: absolute;
  font-weight: 700;
  }
  .dash42{
  top: 630px;
  left: 1300px;
  width: 43px;
  height: 16px;
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #C8242F;
  opacity: 1;
  position: absolute;
  font-weight: 500;
  }
  
    .invoices{
      position: absolute;
      top: 670px;
      left: 270px;
      width: 1217px;
      height: 558px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 5px;
      opacity: 1;
  }
  .sales-bottom img{
      margin-left: 89px;
      margin-top: 78px;
      width: 200px;
      height: 208px;
  }
  
  .invoice-table{
      margin-top: 20px;
      margin-left: 0px;
      width:90%;
  }
  table tr{
      height:27px;
  }
  
  table th{
      text-align: left;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 1.5px;
      color: #ADADAD;
      opacity: 1;
  }
  
  table td{
  
      text-align: left;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 0px;
      color: #3E3E3E;
      opacity: 1;
  }
  
  .status-sucess{
      text-align: left;
      color: #72b57f;
      background: #EBFFEF 0% 0% no-repeat padding-box;
      border-radius: 5px;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 0px;
      opacity: 1;
  }
  .status-fail{
     
      text-align: left;
      color: #FF4545;
      background: #FFF5F5 0% 0% no-repeat padding-box;
      border-radius: 5px;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 0px;
      opacity: 1;
  }
  .status-pending{
      text-align: left;
      color:#BABABA;
      background: #F8F8F8  0% 0% no-repeat padding-box;
      border-radius: 5px;
      font: normal normal normal 15px/20px Roboto;
      letter-spacing: 0px;
      opacity: 1;
  }
  .status-sucess span{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 2.13px;
      margin-bottom: 3.87px;
       opacity: 1;
  }
  
  .sales-year{
    top: 0px;
  left: 1000px;
  width: 43px;
  height: 16px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #C8242F;
  opacity: 1;
  position: absolute;
  }
  .sales-title{
    top: 781px;
  left: 321px;
  width: 82px;
  height: 29px;
  text-align: left;
  font: normal normal medium 22px/29px Roboto;
  letter-spacing: 0px;
  color: #3E3E3E;
  opacity: 1;
  font-size: 25px;
  font-weight: 550;
  }
  
  